.page-header {
    margin-bottom: 0 !important;
}
.logo {
    font-style: italic !important;
}
.logo > img {
    width: 50px;
    height: 40px;
    /* border-radius: 50%; */
}

.sidebar * {
    color: white !important;
}
.custom_active {
    background-color: rgb(255, 81, 96) !important;
}
