.nav_container {
    background-color: #bc6c25 !important;
}
.active {
    background-color: inherit !important;
    border: none !important;
    border-bottom: 2px solid #dda15e !important;
}
.nav_link:hover {
    background-color: inherit !important;
    border: none !important;
    border-bottom: 2px solid #dda15e !important;
}

.nav_text_color,
.nav_text_color a {
    color: #e9ecef !important;
}
.cursor_pointer {
    cursor: pointer;
}
