* {
    font-size: 16px;
}
body {
    background-color: #fff7f7;
}

.tab {
    text-indent: 40px;
}

.bg_primary {
    background-color: #212529;
}

.fs-18 {
    font-size: 18px;
}
.nav_container {
    background-color: #955f31 !important;
    padding: 10px 0;
}

.text_primary {
    color: #955f31;
}
.text_shadow_primary {
    text-shadow: 4px 4px 3px rgb(227, 73, 119);
}
.text_primary_soft {
    color: #955f31;
}
.text_justify {
    text-align: justify;
}
.btn_primary {
    color: white;
    background-color: #cf8980 !important;
}
.custom_nav_link:hover {
    color: white;
    background-color: #cf8980 !important;
}
.btn_primary:hover {
    color: #212529;
    background-color: #cf8980;
}
.k_active {
    background-color: whitesmoke !important;
    color: #212529 !important;
}
.k_active_hover:hover {
    color: #212529 !important;
    background-color: #b5b2b2 !important;
}
.nav_link::after {
    content: "";
    display: block;
    border-bottom: 4px solid #be9362;
    transition: width 0.35s ease-in 0.001s;
    width: 0px;
}
.nav_link:hover::after {
    width: 100%;
}

.custom_active::after {
    width: 100%;
    border-bottom: 4px solid #dda15e;
}

.nav_text_color,
.nav_text_color a {
    color: #e9ecef !important;
}
.cursor_pointer {
    cursor: pointer;
}

.section {
    height: 100vh;
}

.card_image {
    width: 100%;
    height: 200px;
}

.shadow_md {
    -webkit-box-shadow: 0px -2px 24px 12px rgba(142, 142, 159, 1);
    -moz-box-shadow: 0px -2px 24px 12px rgba(142, 142, 159, 1);
    box-shadow: 0px -2px 24px 12px rgba(142, 142, 159, 1);
}
.btn-outline-success {
    color: #204d48;
    border-color: #204d48;
}
.btn-outline-success:hover {
    background-color: #204d48 !important;
}
.btn-outline-info {
    color: #3b555d;
    border-color: #3b555d;
}
.btn-outline-info:hover {
    background-color: #3b555d !important;
}
